@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./fonts";

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.hero-section {
    color: white;
    background: #23074d;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(-45deg, #cc5333, #23074d);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(135deg, #101a33, rgb(1, 3, 14) 40% 80%, #38121b, );
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#kois {
    background-image: url("/assets/bg-image.png");
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    justify-content: space-between;

    .koi-gradient {
        background-color: red;
        height: 300px;
        width: 20%;
        background: linear-gradient(to right, transparent 0%, #FFAFBD 100%);

        &:nth-child(1) {
            background: linear-gradient(to left, transparent 0%, #FFAFBD 100%);
        }
    }

    .koi-selected {
        left: 50%;
        transform: translate(-50%);
        bottom: -70px;
        // border-radius: 10px;         
    }
}


p {
    padding-bottom: 16px;
}

#round-progress {
    transform: rotate(-90deg);
}


#app-bar {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
}

.koi-gradient {

    background-repeat: no-repeat;
    background: #23074d;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(-45deg, #cc5333, #23074d);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(135deg, #101a33, rgb(1, 3, 14) 40% 80%, #38121b, );
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


header {
    transition: all 0.5s;
    border-left: 0 !important;
    border-top: 0 !important;
    border-right: 0 !important;
}


.floating {
    animation-name: floating;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    // margin-left: 30px;
    margin-top: 5px;
}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }

    25% {
        transform: translate(0px, 15px);
    }

    50% {
        transform: translate(0px, -15px);
    }

    75% {
        transform: translate(0px, 15px);
    }

    100% {
        transform: translate(0, -0px);
    }
}


.simple-float {
    animation-name: simpleFloat;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

}

@keyframes simpleFloat {
    0% {
        transform: translate(-30%, -5px);
    }

    50% {
        transform: translate(-30%, 5px);
    }

    100% {
        transform: translate(-30%, -5px);
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
    hyphens: manual;
}

.markdown {
    ul {
        list-style-type: disc;
    }

    ol {
        list-style-type: decimal;
    }

    ul,
    ol {
        padding-left: 25px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: bold;
        font-family: Poppins
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.5em;
        font-weight: bold;
    }

    h3 {
        font-size: 1.5em;
        font-weight: bold;
    }

    h4 {
        font-size: 1.2em;
        font-weight: bold;
    }

    h5 {
        font-size: 1.2em;
        font-weight: bold;
    }

    h6 {
        font-weight: bold;
    }

    a {
        color: #D33148;

        &:hover {
            text-decoration: underline;
        }
    }
}

.onboarding-dots {
    left: 18px;
}

.min-h-90 {
    min-height: 90vh;
}

.glassy {
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.5)
}

header {
    border-bottom: 1px solid transparent;
    color: white;

    button:not(.start-button) {
        &:hover {
            color: black !important;
        }
    }

    &.scrolled {
        button:not(.start-button) {
            color: black !important;
        }

        color: black;
        background-color: white;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1)
    }
}

.header-padding {
    padding-top: 60px;
}

.story {
    height: 600vh;
    background: #1a2a6c;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #fdbb2d, #b21f1f, #1a2a6c);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #fdbb2d, #b21f1f, #1a2a6c);

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    .story-item {
        height: 80vh
    }
}

.sticky-story {
    top: 61px;
    // 100vh - (header height + app bar height)
    height: calc(100vh - (61px + 56px))
}

.glassy {
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    // color: white!important
}

.glassy-dark {
    border: 2px solid rgba(255, 255, 255, 0.8);
}

.glassy-image {
    background: radial-gradient(#232e3d 50%, #111827);
    border: 2px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    // color: white!important
}

.box {
    // border-top: 2px solid rgba(255,255,255,0.5);
    background: radial-gradient(#232e3d 50%, #111827);
}

.progress-button {

    &:focus,
    &:focus-within {
        box-shadow: var(--chakra-shadows-outline)
    }
}

@import "md";