@media all and (min-width: 768px) {
    .hero-bg {
        background-repeat: no-repeat;
        background-position: calc(100%) bottom;
    }

    .sticky-story {
        top: 73px;
        height: calc(100vh - (73px))
    }

    .header-padding {
        padding-top: 73px;
    }
}