.absolute {
  position: absolute
}

.relative {
  position: relative
}

.right-0 {
  right: 0px
}

.bottom-0 {
  bottom: 0px
}

.left-0 {
  left: 0px
}

.top-0 {
  top: 0px
}

.-left-2 {
  left: -0.5rem
}

.-bottom-20 {
  bottom: -5rem
}

.top-1\/2 {
  top: 50%
}

.right-4 {
  right: 1rem
}

.top-1\/3 {
  top: 33.333333%
}

.left-4 {
  left: 1rem
}

.z-10 {
  z-index: 10
}

.m-2 {
  margin: 0.5rem
}

.mx-4 {
  margin-left: 1rem;
  margin-right: 1rem
}

.mx-0 {
  margin-left: 0px;
  margin-right: 0px
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem
}

.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem
}

.mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem
}

.mx-3 {
  margin-left: 0.75rem;
  margin-right: 0.75rem
}

.ml-2 {
  margin-left: 0.5rem
}

.mb-2 {
  margin-bottom: 0.5rem
}

.mb-0 {
  margin-bottom: 0px
}

.mb-1 {
  margin-bottom: 0.25rem
}

.mr-1 {
  margin-right: 0.25rem
}

.mr-2 {
  margin-right: 0.5rem
}

.mt-1 {
  margin-top: 0.25rem
}

.mb-4 {
  margin-bottom: 1rem
}

.mb-3 {
  margin-bottom: 0.75rem
}

.mt-24 {
  margin-top: 6rem
}

.mb-6 {
  margin-bottom: 1.5rem
}

.mb-10 {
  margin-bottom: 2.5rem
}

.mt-10 {
  margin-top: 2.5rem
}

.mt-20 {
  margin-top: 5rem
}

.mt-5 {
  margin-top: 1.25rem
}

.mb-5 {
  margin-bottom: 1.25rem
}

.ml-5 {
  margin-left: 1.25rem
}

.ml-1 {
  margin-left: 0.25rem
}

.flex {
  display: flex
}

.h-full {
  height: 100%
}

.h-10 {
  height: 2.5rem
}

.h-44 {
  height: 11rem
}

.h-48 {
  height: 12rem
}

.h-52 {
  height: 13rem
}

.h-60 {
  height: 15rem
}

.h-64 {
  height: 16rem
}

.h-72 {
  height: 18rem
}

.w-full {
  width: 100%
}

.w-4\/5 {
  width: 80%
}

.w-10 {
  width: 2.5rem
}

.w-1\/4 {
  width: 25%
}

.w-1\/3 {
  width: 33.333333%
}

.w-14 {
  width: 3.5rem
}

.w-20 {
  width: 5rem
}

.w-24 {
  width: 6rem
}

.flex-1 {
  flex: 1 1 0%
}

.flex-row {
  flex-direction: row
}

.flex-col {
  flex-direction: column
}

.flex-wrap {
  flex-wrap: wrap
}

.items-end {
  align-items: flex-end
}

.items-center {
  align-items: center
}

.justify-end {
  justify-content: flex-end
}

.justify-center {
  justify-content: center
}

.justify-between {
  justify-content: space-between
}

.overflow-hidden {
  overflow: hidden
}

.rounded-lg {
  border-radius: 0.5rem
}

.rounded-full {
  border-radius: 9999px
}

.rounded {
  border-radius: 0.25rem
}

.border {
  border-width: 1px
}

.border-2 {
  border-width: 2px
}

.bg-slate-900 {
  --tw-bg-opacity: 1;
  background-color: rgb(15 23 42 / var(--tw-bg-opacity))
}

.bg-slate-600 {
  --tw-bg-opacity: 1;
  background-color: rgb(71 85 105 / var(--tw-bg-opacity))
}

.bg-amber-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(245 158 11 / var(--tw-bg-opacity))
}

.bg-zinc-300 {
  --tw-bg-opacity: 1;
  background-color: rgb(212 212 216 / var(--tw-bg-opacity))
}

.bg-red-400 {
  --tw-bg-opacity: 1;
  background-color: rgb(248 113 113 / var(--tw-bg-opacity))
}

.bg-red-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(254 202 202 / var(--tw-bg-opacity))
}

.bg-slate-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(100 116 139 / var(--tw-bg-opacity))
}

.bg-slate-400 {
  --tw-bg-opacity: 1;
  background-color: rgb(148 163 184 / var(--tw-bg-opacity))
}

.bg-slate-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(241 245 249 / var(--tw-bg-opacity))
}

.bg-pink-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(236 72 153 / var(--tw-bg-opacity))
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.p-2 {
  padding: 0.5rem
}

.p-1 {
  padding: 0.25rem
}

.p-10 {
  padding: 2.5rem
}

.p-3 {
  padding: 0.75rem
}

.p-4 {
  padding: 1rem
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem
}

.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem
}

.px-10 {
  padding-left: 2.5rem;
  padding-right: 2.5rem
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem
}

.pb-3 {
  padding-bottom: 0.75rem
}

.pt-1 {
  padding-top: 0.25rem
}

.pr-1 {
  padding-right: 0.25rem
}

.pr-4 {
  padding-right: 1rem
}

.pl-3 {
  padding-left: 0.75rem
}

.pt-0 {
  padding-top: 0px
}

.pt-4 {
  padding-top: 1rem
}

.pb-2 {
  padding-bottom: 0.5rem
}

.pr-2 {
  padding-right: 0.5rem
}

.pt-5 {
  padding-top: 1.25rem
}

.pb-5 {
  padding-bottom: 1.25rem
}

.pt-2 {
  padding-top: 0.5rem
}

.text-left {
  text-align: left
}

.text-center {
  text-align: center
}

.text-right {
  text-align: right
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem
}

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem
}

.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem
}

.font-bold {
  font-weight: 700
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

.text-indigo-50 {
  --tw-text-opacity: 1;
  color: rgb(238 242 255 / var(--tw-text-opacity))
}

.text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity))
}

.text-red-600 {
  --tw-text-opacity: 1;
  color: rgb(220 38 38 / var(--tw-text-opacity))
}

.text-amber-500 {
  --tw-text-opacity: 1;
  color: rgb(245 158 11 / var(--tw-text-opacity))
}

.opacity-50 {
  opacity: 0.5
}

.opacity-75 {
  opacity: 0.75
}
