.flex {
  display: flex
}

.flex-1 {
  flex: 1 1 0%
}

.flex-row {
  flex-direction: row
}

.filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}
