@font-face { 
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    src: local("Poppins"), url("/fonts/Poppins-Regular.ttf"); 
}

@font-face { 
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    src: local("Poppins"), url("/fonts/Poppins-Bold.ttf"); 
}

@font-face {
    font-family: Gochi;
    font-weight: normal;
    font-style: normal;
    src: url("/fonts/GochiHand-Regular.ttf");
}