@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./fonts";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.hero-section {
    background-image: url("/assets/Curve_1.svg");

    background-repeat: no-repeat;
    background-position: center;
}

#kois {
    background-image: url("/assets/bg-image.png");
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    justify-content: space-between;
    .koi-gradient {
         background-color: red;
         height: 300px;
         width: 20%;
         background: linear-gradient(to right, transparent 0%, #FFF6F1 100%);
         &:nth-child(1) {
                background: linear-gradient(to left, transparent 0%, #FFF6F1 100%);
         }
     }
     .koi-selected {
         left: 50%;
         transform: translate(-50%);
         bottom: -70px;
         // border-radius: 10px;         
     }
}


p {
    padding-bottom: 16px;
}
#round-progress {
    transform: rotate(-90deg);
}

#app-bar {
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

main {
    padding-top: 56px;
}

header {
    transition: all 0.5s;
}

#radial-gradient {
    background: radial-gradient(circle, rgba(255,246,241,1) 20%, rgba(0,212,255,0) 100%);
}

.floating { 
    animation-name: floating;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}
 
@keyframes floating {
    0% { transform: translate(0,  0px); }
    25%  { transform: translate(0px, 15px); }
    50%  { transform: translate(0px, -15px); }
    75%  { transform: translate(0px, 15px); }
    100%   { transform: translate(0, -0px); }   
}


.simple-float { 
    animation-name: simpleFloat;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

}
 
@keyframes simpleFloat {
    0% { transform: translate(-30%,  -5px); }
    50%  { transform: translate(-30%, 5px); }
    100% { transform: translate(-30%,  -5px); }
}

.markdown {
    h1, h2, h3, h4, h5, h6 {
        font-weight: bold;
        font-family: Poppins
    }
    h1 {
        font-size: 2em;
    }
    
    h2 {
        font-size: 1.5em;
        font-weight: bold;
    }
    
    h3 {
        font-size: 1.5em;
        font-weight: bold;
    }
    
    h4 {
        font-size: 1.2em;
        font-weight: bold;
    }
    
    h5 {
        font-size: 1.2em;
        font-weight: bold;
    }
    
    h6 {
        font-weight: bold;
    }
    a {
        color: #D94D61;
        &:hover {
            text-decoration: underline;
        }
    }
}

