@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./fonts";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.hero-section {
    background-image: url("/assets/Curve_1.svg");

    background-repeat: no-repeat;
    background-position: center;
}

#hero-img {
    image-rendering: -moz-crisp-edges
}

#kois {
    background-image: url("/assets/bg-image.png");
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    justify-content: space-between;
    .koi-gradient {
         background-color: red;
         height: 300px;
         width: 20%;
         background: linear-gradient(to right, transparent 0%, #FFAFBD 100%);
         &:nth-child(1) {
                background: linear-gradient(to left, transparent 0%, #FFAFBD 100%);
         }
     }
     .koi-selected {
         left: 50%;
         transform: translate(-50%);
         bottom: -70px;
         // border-radius: 10px;         
     }
}


p {
    padding-bottom: 16px;
}
#round-progress {
    transform: rotate(-90deg);
}


#app-bar {
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
}

main {
    padding-top: 56px;
    
}

.koi {
    background-size: cover;
    background-position: left bottom;
    background-repeat:no-repeat;
    background-image: url("/assets/cherry-blossom.png");
}
.wrapper {

}
header {
    transition: all 0.5s;
    border-left: 0!important;
    border-top:0!important;
    border-right: 0!important;
}

#radial-gradient {
    // background: radial-gradient(circle, #ffc3a0 20%, transparent 60%);
}

.floating { 
    animation-name: floating;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    // margin-left: 30px;
    margin-top: 5px;
}
 
@keyframes floating {
    0% { transform: translate(0,  0px); }
    25%  { transform: translate(0px, 15px); }
    50%  { transform: translate(0px, -15px); }
    75%  { transform: translate(0px, 15px); }
    100%   { transform: translate(0, -0px); }   
}


.simple-float { 
    animation-name: simpleFloat;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

}
 
@keyframes simpleFloat {
    0% { transform: translate(-30%,  -5px); }
    50%  { transform: translate(-30%, 5px); }
    100% { transform: translate(-30%,  -5px); }
}

.markdown {
    h1, h2, h3, h4, h5, h6 {
        font-weight: bold;
        font-family: Poppins
    }
    h1 {
        font-size: 2em;
    }
    
    h2 {
        font-size: 1.5em;
        font-weight: bold;
    }
    
    h3 {
        font-size: 1.5em;
        font-weight: bold;
    }
    
    h4 {
        font-size: 1.2em;
        font-weight: bold;
    }
    
    h5 {
        font-size: 1.2em;
        font-weight: bold;
    }
    
    h6 {
        font-weight: bold;
    }
    a {
        color: #D94D61;
        &:hover {
            text-decoration: underline;
        }
    }
}

main {
    background: #FFAFBD;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffc3a0, #FFAFBD);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #ffe8db, #ffcfaf); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

header {
    border: 1px solid transparent
}

.glassy {
    background-color: rgba(255,255,255,0.6);
    border: 2px solid white;
    backdrop-filter: blur(5px);
    // color: white!important
}

.box {
    // border-top: 2px solid rgba(255,255,255,0.5);
    background: radial-gradient(#8850e9 50%, #6c39c5);
}

img {
   image-rendering: -webkit-optimize-contrast
}